<strong>Olá, {{ organizer }}</strong>
<p>Nova inscrição no seu meetup: {{ meetup }}, confira abaixo:</p>
<p>

  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Horário: </strong> {{ date }} <br /><br />
  <Strong>Usuário Inscrito: </Strong> {{ user }} <br />
  <Strong>E-mail: </Strong> {{ email }} <br />
</p>
